# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.out/
out/
.sandbox/
sandbox/

# GoLand and VSCode
.idea
# VSCode configuration example: https://gist.github.com/mc256/357a867b8b21bbcc571c5469d127a1d8
.vscode 

vendor/

my-values.yaml

# environment file
.env