version: "3"
services:
  registry:
    image: registry:2
    ports:
    - 5000:5000
    - 80:5000
    environment:
    - REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/data
    volumes:
    - "./data_registry:/data:rw"
    restart: always