{{- if .Values.ingress.enabled -}}
{{- $fullName := include "starlight-proxy-chart.fullname" . -}}
{{- if and .Values.ingress.className (not (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion)) }}
  {{- if not (hasKey .Values.ingress.annotations "kubernetes.io/ingress.class") }}
  {{- $_ := set .Values.ingress.annotations "kubernetes.io/ingress.class" .Values.ingress.className}}
  {{- end }}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "starlight-proxy-chart.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
    {{- if $.Values.registryUi.enabled}}
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    {{- end }}
  {{- end }}
spec:
  {{- if and .Values.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - host: {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ . | quote }}
      http:
        paths:
          {{- if $.Values.registry.enabled }}
          - path: /()(v2.*)
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 5000
          {{- end }}
          {{- if $.Values.registryUi.enabled}}
          - path: /ui(/|$)(.*)
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 8080
          - path: /()(fonts.*)
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 8080
          - path: /()(docker-registry-ui.*)
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 8080
          {{- end}}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 8090
    {{- end }}
{{- end }}
