[Unit]
Description=Starlight snapshotter GRPC service
Documentation=https://github.com/mc256/starlight
After=network.target local-fs.target containerd.service
Wants=containerd.service

[Service]
ExecStart=/usr/bin/starlight-grpc run --plain-http STARLIGHT_PROXY

Type=simple
KillMode=process
Restart=always
RestartSec=5

LimitNPROC=infinity
LimitCORE=infinity
LimitNOFILE=infinity

TasksMax=infinity
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target